[submodule "Assets/Imported/submodule-core"]
	path = Assets/Imported/submodule-core
	url = https://github.com/danil777lar/submodule-core
[submodule "Assets/Imported/submodule-ads-unity"]
	path = Assets/Imported/submodule-ads-unity
	url = https://github.com/danil777lar/submodule-ads-unity
[submodule "Assets/Imported/submodule-analytics-firebase"]
	path = Assets/Imported/submodule-analytics-firebase
	url = https://github.com/danil777lar/submodule-analytics-firebase
[submodule "Assets/Imported/submodule-ads-telegram"]
	path = Assets/Imported/submodule-ads-telegram
	url = https://github.com/danil777lar/submodule-ads-telegram
[submodule "Assets/Imported/submodule-map-editor"]
	path = Assets/Imported/submodule-map-editor
	url = https://github.com/danil777lar/submodule-map-editor
[submodule "Assets/Imported/submodule-character"]
	path = Assets/Imported/submodule-character
	url = https://github.com/danil777lar/submodule-character
